/ {
    kscan0: kscan@0 {
        compatible = "zmk,keyboard-matrix";
        row-gpios = <
            &nrf_p0 2 GPIO_ACTIVE_HIGH,
            &nrf_p0 3 GPIO_ACTIVE_HIGH,
            &nrf_p0 4 GPIO_ACTIVE_HIGH,
            &nrf_p0 5 GPIO_ACTIVE_HIGH,
            &nrf_p0 6 GPIO_ACTIVE_HIGH
        >;
        col-gpios = <
            &nrf_p0 7 GPIO_ACTIVE_HIGH,
            &nrf_p0 8 GPIO_ACTIVE_HIGH,
            &nrf_p0 9 GPIO_ACTIVE_HIGH,
            &nrf_p0 10 GPIO_ACTIVE_HIGH,
            &nrf_p0 11 GPIO_ACTIVE_HIGH
            &nrf_p0 13 GPIO_ACTIVE_HIGH
        >;
    };
};
