/ {
    chosen {
        zmk,kscan = &kscan0;
    };

    kscan0: kscan {
        compatible = "zmk,kscan-gpio-matrix";
        diode-direction = "COL2ROW";

        rows = <&gpio0 10>, <&gpio0 11>, <&gpio0 12>, <&gpio0 13>, <&gpio0 14>, <&gpio0 15>;
        cols = <&gpio1 01>, <&gpio1 02>, <&gpio1 03>, <&gpio1 04>, <&gpio1 05>;
    };
};
