/ {
    zmk,physical-layouts {
        compatible = "zmk,physical-layouts";

        default: layout_0 {
            label = "Default";
            // กำหนดตำแหน่งจริงของปุ่มแต่ละตัว
            // x, y เป็นหน่วย 0.25u
            keys = <
                /* row 0 */
                &kp A   0    0
                &kp B   25   0
                &kp C   50   0
                &kp D   75   0
                &kp E   100  0
                &kp F   125  0

                /* row 1 */
                &kp G   0    25
                &kp H   25   25
                &kp I   50   25
                &kp J   75   25
                &kp K   100  25
                &kp L   125  25

                /* row 2 */
                &kp M   0    50
                &kp N   25   50
                &kp O   50   50
                &kp P   75   50
                &kp Q   100  50
                &kp R   125  50

                /* row 3 */
                &kp S   0    75
                &kp T   25   75
                &kp U   50   75
                &kp V   75   75
                &kp W   100  75
                &kp X   125  75

                /* row 4 */
                &kp Y   0    100
                &kp Z   25   100
                &kp 1   50   100
                &kp 2   75   100
                &kp 3   100  100
                &kp 4   125  100
            >;
        };
    };
};
